<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Acct number:</strong>
  <%= @account.acct_number %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
